<div class="post-inline" id="{{type}}AnswerForm{{@index}}">
	<div class="post-inline-wrap">
		<form action="{{type}}.html">
			<div class="post-inline-content">
				<textarea name="{{type}}-textarea-answer" id="{{type}}-textarea-answer{{@index}}" class="tinymce-inline"></textarea>
			</div>
			<div class="post-inline-footer">
				<button class="button">Save to draft</button>
				<button class="button -primary">POST</button>
			</div>
		</form>
	</div>
</div>
