{{#each store.product}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="product-item">
	<a href="{{link}}" role="link">
		<div class="product-card">
			<div class="product-img">
				<span>
					<img src="https://source.unsplash.com/{{unsplash}}/{{../size}}x{{../size}}" alt="">
				</span>
			</div>
			<div class="product-info">
				<h3 class="product-title">{{title}}</h3>
				<div class="product-price">{{price}}</div>
				<div class="product-location">{{location}}</div>
			</div>
		</div>
	</a>
</div>
{{/gte}}
{{/gte}}
{{/each}}
