<!-- modal {{modal_page}} {{modal_text}} -->
<form action="{{#if modal_page}}{{modal_page}}{{else}}home{{/if}}.html">
	<div id="modal{{capitalize modal_page}}{{capitalize modal_text}}" class="modal fade modal-confirm" tabindex="-1" role="dialog" aria-labelledby="{{modal_page}}Form" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header modal-delete">
					<h5 class="modal-title">{{capitalize modal_text}}</h5>
				</div>
				<div class="modal-body">
					<div class="modal-text">
						Are you sure want to {{modal_text}} this <strong id="confirm-delete-name" class=""></strong>?<br>
						<small class="text-muted">warning, your action cannot be undone in the future</small>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="button" data-dismiss="modal">Cancel</button>
					<button class="button -primary">{{capitalize modal_text}}</button>
				</div>
			</div>
		</div>
	</div>
</form>
